
/* Your CSS Code here. */

.main{
	Width:200px;
    Background-color: purple;  
    border-left: solid green;
	boder-left-width: 5 pixels;
    Padding: 10px;
}
#heading{
  Font-size:20pixels;
  color:white;
  Text-decoration:underline;
}